//
//  Secret.xcconfig
//  Symteo
//
//  Created by 김지우 on 2/7/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


BASE_URL = http:/$()/ec2-13-209-158-163.ap-northeast-2.compute.amazonaws.com:8080

GOOGLE_KEY = 486701462093-evpaqjfeqv1jds8vv51qrhqprc5p2dob.apps.googleusercontent.com
NAVER_KEY = VaF33c8UuZRHmfeGInvp

//KAKAO_KEY = 3876f99b2775e7a04b61d72246ed47b1

KAKAO_NATIVE_APP_KEY = 50404fa2388c8235b886d3b9364cd00a
DEV_TOKEN = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxIiwiaWF0IjoxNzcwODExNzU0LCJleHAiOjE3NzA4OTgxNTR9.yTpWQldJNzkOcyadrtnt8xS_dDG6qtxFtAYwq3-Tgus
